/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #21a1f1;
}

input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.search-section {
  margin: 20px 0;
}

.quote-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  text-align: left;
}

.error {
  color: red;
}

p{
  color: black;
}